@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: yellow;
    margin-bottom: 10px;
    /* transition: 0.4s ease-in-out */
}